.header-area {
    background-color:black;
    color: goldenrod;
    width: 100vw;
    display: grid;
    grid-template-columns: 15fr 70fr 15fr;
    font-family: 'Lobster', cursive;
}

.left-space {
    display: flex;
    justify-content: left;
}

.right-space {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: flex;
    background-color: goldenrod;
    font-family: 'Lobster', cursive;
}

.title-area {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    width: 100%;
}
